body {
  background-color: black;
}

h1 {
  color: white;
  font-family: 'JetBrains Mono', monospace;
  text-align: center;
  font-size: 20px;
}

h2 {
  color: white;
  font-family: 'JetBrains Mono', monospace;
  text-align: center;
  font-size: 20px;
}

h3 {
  color: white;
  font-family: 'JetBrains Mono', monospace;
  text-align: center;
  font-size: 20px;
}

h4 {
  color: white;
  font-family: 'JetBrains Mono', monospace;
  text-align: center;
  font-size: 20px;
}

h5 {
  color: white;
  font-family: 'JetBrains Mono', monospace;
  text-align: center;
  font-size: 20px;
}

h6 {
  color: white;
  font-family: 'JetBrains Mono', monospace;
  text-align: center;
  font-size: 20px;
}

p {
  color: white;
  font-family: 'JetBrains Mono', monospace;
  font-size: 20px;
  text-align: center;
}
